:root {
    --Primary-black: #212427;
    --Secondary-black: #34393E;
    --Tertiary-black: #332C39;
    --Primary-white: #E8E8E8;
    --Secondary-white: #EEEDED;
    --Font-sacramento: 'Sacramento', cursive;
    --Font-poppins: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.white-bg {
    background-color: var(--Primary-white);
}


.nav-link {
    color: var(--Tertiary-black);
    font-size: 13px;
    font-weight: 400;
    font-family: var(--Font-poppins);
}

.container-home-title {
    min-height: 600px;
    height: calc(100vh - 53px);
    max-height: 1080px;
}

.home-title {
    font-size: 80px;
    font-family: var(--Font-sacramento);
    text-align: center;
}
